* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4CAF50; /* Cor verde natural */
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.home img {
    width: 50px;
    height: auto;
    border-radius: 50%; 
}

.center-text {
    padding-left: 10px;
    flex-grow: 1;
    text-align: center;
}

.center-text h1 {
    font-size: 24px;
    color: rgb(208, 244, 165);
}

.menu-right {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

.menu-right li {
    margin-left: 20px;
    border-radius: 25px;
}

.menu-right li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
}

.menu-right li a:hover {
    background-color: #45a049;
    color: #aaf5ad;
    transition: 0.3s;
    border-radius: 25px;
}

